{# Les lignes d'en dessous à retravailler pour bien caler l'img en haut à droite (en mode float(??..)) de la cellule #}
<span class="pull-right">

    {# On set des booleans qui vont nous aider #}
    {% set dayPlus0 = day.date|date('Y-m-d') == "now"|date('Y-m-d') %}
    {% set dayPlus1 = day.date|date('Y-m-d') == date('+1day')|date('Y-m-d') %}
    {% set dayPlus2 = day.date|date('Y-m-d') == date('+2days')|date('Y-m-d') %}
    {% set dayPlus3 = day.date|date('Y-m-d') == date('+3days')|date('Y-m-d') %}
    {% set dayPlus4 = day.date|date('Y-m-d') == date('+4days')|date('Y-m-d') %}

    {# Boucle "dynamique" sur les variables des jours suivants  (fiveDaysForecastWeather0, fiveDaysForecastWeather1, ...2, ...3 et ...4) #}
    {% for i in 0..4 %}

        {# encore une boolean condition variariable #}
        {% set tooLongDescr = attribute(_context, 'fiveDaysForecastWeather' ~ i).0.description|length > 11 %}

        {% if attribute(_context, 'dayPlus' ~ i) %}
            {% if dayPlus0 %}{# Si today #}
                {% set toDisplay = "<table class='weather-in-popover' style='font-size: 0.9em;'>" %}
            {% else %}
                {% set toDisplay = "<table class='weather-in-popover'>" %}
            {% endif %}
            {% set toDisplayBis = '<tr>' %}
            {% set toDisplayTer = '<tr>' %}
            {% set toDisplayQua = '<tr>' %}

            {% for elem in attribute(_context, 'fiveDaysForecastWeather' ~ i) %}
                {% if loop.index is odd or (dayPlus0 and loop.index == 2) %}
                    {% set heure = "<td><i class='far fa-clock'></i> " ~ elem.dt_txt|date('H:i') ~
                        "<i class='fas fa-calendar-day'></i> " ~ elem.dt_txt|date('d/m') ~ "</td>" %}
{#                    {% set icon = "<td><img src='" ~ elem.icon_url ~ "'#}
{#                                                    data-toggle='popover' data-placement='top' data-trigger='hover'#}
{#                                                    data-content='" ~ elem.description ~ "'></td>" %}#}
                    {% set icon = "<td><img src='" ~ elem.icon_url ~ "'></td>" %}
                    {% set temperature = "<td><i class='fas fa-thermometer-half'></i> " ~ elem.temperature|round ~ "°C</td>" %}

                    {% set toDisplayBis = toDisplayBis ~ heure %}
                    {% set toDisplayTer = toDisplayTer ~ icon %}
                    {% set toDisplayQua = toDisplayQua ~ temperature %}
                {% endif %}
            {% endfor %}

            {% set toDisplayBis = toDisplayBis ~ '</tr>' %}
            {% set toDisplayTer = toDisplayTer ~ '</tr>' %}
            {% set toDisplayQua = toDisplayQua ~ '</tr>' %}
            {% set toDisplay    = toDisplay ~ toDisplayBis ~ toDisplayTer ~ toDisplayQua ~ '</table>' %}

            {% set titleToDisplay = attribute(_context, 'fiveDaysForecastWeather' ~ i).0.description|capitalize %}
            {% if tooLongDescr %}{# Description trop longue donc retour à la ligne (donc on utilise un '<p> avec le <br>') #}
                {% set titleToDisplay = '<p>' ~ titleToDisplay ~ '<br>' %}
            {% endif %}
            {% set titleToDisplay = titleToDisplay ~ "<span class='pull-right small'><i class='fas fa-wind'></i> " ~
                attribute(_context, 'fiveDaysForecastWeather' ~ i).0.wind ~ "m/s <i class='fas fa-cloud'></i> " ~
                attribute(_context, 'fiveDaysForecastWeather' ~ i).0.clouds ~ "% <i class='fas fa-thermometer-half'></i> " ~
                attribute(_context, 'fiveDaysForecastWeather' ~ i).0.temperature|round ~ "°C</span>" %}
            {% if tooLongDescr %}
                {% set titleToDisplay = titleToDisplay ~ '</p>' %}
            {% endif %}

            <img src="{{ attribute(_context, 'fiveDaysForecastWeather' ~ i).0.icon_url }}"
                 data-toggle="popover" data-placement="top" data-trigger="hover"
                 title="{{ titleToDisplay }}" data-content="{{ toDisplay }}">
        {% endif %}


    {% endfor %}

</span>