<hr>
<footer class="container small">
    <p style="text-align:center;font-style: italic;"><i class="far fa-copyright"></i> 2019 - {{ "now"|date('Y') }} | <i class="fas fa-laptop-code"></i> GFI > GFI LILLE > GFI LILLE II > TPAS PA | <i class="fas fa-code-branch"></i> Version 1.0.0</p>
</footer>
