<div class="container">

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-light">
            {% for i in 8..17 %}
                <tr>
                    <td>{{ "%02d"|format(i) }}:00 - {{ "%02d"|format(i) }}:30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ "%02d"|format(i) }}:30 - {{ "%02d"|format(i+1) }}:00</td>
                    <td></td>
                </tr>
            {% endfor %}
		</table>
    </div>

</div>