/*Small devices (landscape phones, 576px and up)*/
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}
@media (min-width: 576px) {
    .day {
        height: 7vw;
    }
}



/*Medium devices (tablets, 768px and up)*/
@media (max-width: 767px) {
    .weekend {
        display: none!important;
    }
}
@media (min-width: 768px) {
    .weekend {
        display: block!important;
    }
}

#div_calendar > .break_after_day:nth-child(7n+0) {
    width: 100%;
}


#div_calendar > .day:hover {
    background-color: #e3e3e3;
}



/*Large devices (desktops, 992px and up)*/
@media (max-width: 991px) {
    .link_reservations_room_date {
        display: none!important;
    }
    .link_reservations_room_date_icon {
        display: inline!important;
    }
}
@media (min-width: 992px) {
    .link_reservations_room_date {
        display: inline!important;
    }
    .link_reservations_room_date_icon {
        display: none!important;
    }
}

