<ul class="nav nav-tabs" role="tablist">
    {% for r in allRooms %}
    <li class="nav-item">
        <a class="nav-link {% if app.request.get('_route') == 'front_reservations_room_date' and room.id == r.id %}
                                active
                            {% endif %}"  href="{{ path('front_reservations_room_date', {'roomSlug': r.slug, 'date': date|date('Y-m-d')})}}">
            <b>{{ r.name }}</b>
        </a>
    </li>
    {% endfor %}
</ul>
